# Telegram Bot Token
TELEGRAM_BOT_TOKEN=

# Gemini API Key
GEMINI_API_KEY=

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password123
ADMIN_SECRET=adminpanelopen123

# Environment
NODE_ENV=development
